<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sy.s4.member.MemberDAO">
  	
  	<resultMap type="MemberDTO" id="getLoginResult">
  		<id column="id" property="id"/>
  		<result column="pw" property="pw"/>
  		<result column="name" property="name"/>
  		<result column="phone" property="phone"/>
  		<result column="email" property="email"/>
		<!-- 1:1관계 - DTO내에 다른 DTO 하나가 멤버변수로 선언 되어 있을때 -->
		<association property="memberFilesDTO" javaType="MemberFilesDTO">
			<id column="num" property="num"/>
			<result column="FileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</association>  		  		
  	</resultMap>
  	
  	<select id="getLogin" parameterType="MemberDTO" resultMap="getLoginResult">
  		SELECT *
		FROM MEMBER M
   		LEFT JOIN
    	MEMBERFILES MF
		USING (ID) 
		WHERE ID = #{id} AND PW = #{pw}
  	</select>
  	
  	<select id="getIdCheck" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT ID FROM MEMBER WHERE id = #{id}
  	</select>
  	
  	<insert id="setJoin" parameterType="MemberDTO">
  		INSERT INTO MEMBER(ID, PW, NAME, PHONE, EMAIL)
  		VALUES(#{id}, #{pw}, #{name}, #{phone}, #{email})
  	</insert>
  
  	<update id="setUpdate">
  		UPDATE MEMBER SET PW=#{pw}, NAME=#{name}, PHONE=#{phone}, EMAIL=#{email}
  		WHERE ID=#{id}
  	</update>
  	
  	<delete id="setDelete" parameterType="MemberDTO">
  		DELETE FROM MEMBER WHERE ID = #{id}
  	</delete>
  	
  	<insert id="setFileInsert" parameterType="MemberFilesDTO">
  		insert into MEMBERFILES values(files_seq.nextval, #{id}, #{fileName}, #{oriName})
  	</insert>
  	
  	<select id="getFile" parameterType="MemberDTO" resultType="MemberFilesDTO">
  		select * from memberFiles where id=#{id}
  	</select>
  </mapper>